[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
wtforms = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"

[dev-packages]
yapf = "*"
flake8 = "*"

[requires]
python_version = "3"
